/* CSS files --> contact.html */
body{
    background-color: #A5DEE5;
}
table{
    width:100%; 
    text-align: center;
    background-color: #E0F9B5
    ;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #E0F9B5;
}